//mixin l'ombre sous header
@mixin header-shadow{
    box-shadow: inset 0px 2px 4px darken($color:$darkgrey, $amount: 15%);
}

@mixin rectangle-steps-shadow{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

//mixin la couleur dégradée des bouttons
@mixin color-gradient{
    background-image: linear-gradient($secondary-color, $primary-color);
}
//mixin l'ombre sous le boutton rose
@mixin botom-shadow{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}


@mixin btn-gradient{
    height: 50px;
    width: 218px;
    border-radius: 50px;
    border: none;
    @include color-gradient();
    display: block;
    margin: 0 auto;/*pour centrer le boutton*/
    color: $white;
    font-size: 16px;
    padding-left: 0.1%; /* je déclare un padding-left initial */
    @include botom-shadow();
    transition: background-image 0.5s, box-shadow 0.5s; /* Transition normale pour le déplacement du texte */
}
