/* Définir les règles de l'animation pour que le coeur se charge progressivement */
@keyframes gradually {
    from {
      opacity: 0; /* L'image est initialement invisible */
    }
    to {
      opacity: 1; /* Afficher l'image avec une transition d'opacité */
    }
  }
/* Définir les règles de l'animation pour que le café monte dans la tasse*/
  @keyframes fill{
    0%{
      background-position: 0px 80px;
    }
    20%{
      background-position: -450px 80px;
    }
    40%{

      background-position: -900px 50px;
    }
    80%{
      background-position: -1350px -40px;
    }
    100%{
      background-position: 0px 80px;
    }
  }
  /*Animation pour faire apparaitre les rubliques entrées, plats et dessert*/
  @keyframes zoomCenter {
    /* Définition des étapes de l'animation */
    0% {
      /* Taille initiale */
      transform: scale(0);
    }
   
    100% {
      /* Taille agrandie */
      transform: scale(1);
    }
  }
    /* Animation pour cacher la première page */
    @keyframes hideLoader {
      to {
        display: none; /* Cacher la première page */
      }
    }
  
  
