// Importation des fichiers partiels dans main.scss
@import 'abstracts/variables';
@import 'layout/header';
@import 'base/icons';
@import 'components/section';
@import 'abstracts/mixins';
@import 'base/base';
@import 'components/buttons';
@import 'components/components';
@import 'layout/footer';
@import 'components/loader';