
.footer{
    background-color: $greyfooter;
    padding-top:22px;
    padding-bottom: 22px;
    padding-right: 25px;
    padding-left: 25px;
    &__title{
        font-size:18px;
        font-family: var(--font-shrikhand);
        color: $white;
        font-weight: 400;
        display:flex;
        align-items: end;
    }
    &__container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    &__links{
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        font-size: 16px;
        color:$white;
        font-weight: 500;
        & a {
            text-decoration: none;/*enlever le soulignement*/
            color: $white; /* Récupère la couleur du texte originale */
        }
        &__onerow{
            width: 192px;
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 11px;
        }
        &--fontweight{
            font-weight: 400;
            width: 130px;
            display: flex;
            align-items: center;
        }
        
    }
}
/*****************version Desktop*****************/
@media(min-width: 1140.02px){
    .footer{
        padding-top:30px;
        padding-bottom: 30px;
        &__container{
            flex-direction: row-reverse;
            gap:16px;
            height: 54px;
            //align-items: end;
        }
        &__links{
            flex-direction: row;
            gap:7px;
            align-items: end;
        }
    }
}
/****************version tablette*****************/
@media (min-width: 767.98px) and (max-width: 1140px) {
    .footer{
        padding-top:30px;
        padding-bottom: 30px;
        &__title{
            font-size: 14px;
        }
        &__container{
            flex-direction: row-reverse;
            height: 54px;/*114px - (30px*2)*/
        }
        &__links{
            flex-direction: row;
            align-items: end;
        }
    }
}