
.header {
    // Styles pour l'entête
    padding-bottom:13px;
    padding-top:14px;
    &__title {
      // Styles pour le titre dans l'en-tête
      font-family: var(--font-shrikhand);
      font-size:30px;
      text-align:center;
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    .header {
      // Styles pour l'entête
      padding-bottom:30px;
      padding-top:31.8px;
  }}