@import '../abstracts/_mixins.scss';
@import '../abstracts/variables';

.button-pointer{
    @include btn-gradient;
    text-decoration: none;/*enlever le soulignement*/
    display:flex;
    justify-content: center;
    align-items: center;
    &:hover {
        /* Appliquer lighten() sur le dégradé */
        background-image: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        transition-delay: 0s, 0.3s, 0s; /* Délai pour la transition de couleur */
        padding-left: 0.01%; /* Réduit le pourcentage pour un effet déplacement */
        cursor: pointer; /* curseur main */ 
    }     
}
.button-gradient{
    @include btn-gradient;
    &:hover {
        /* Appliquer lighten() sur le dégradé */
        background-image: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
        transition-delay: 0s, 0.3s, 0s; /* Délai pour la transition de couleur */
        padding-left: 0.01%; /* Réduit le pourcentage pour un effet déplacement */          
}
}