@import '../abstracts/mixins';
@import '../animations';
//le petit cercle de composant steps
.circle{
    position: absolute;
    width:24px;
    height: 24px;
    border-radius: 12px;
    background-color: $primary-color;
    /*margin-left:20px;*/
    color:$white;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 1.5rem;
}
//le rectangle de steps
.rectangle{
    position: absolute;
    width: 100%;
    height: 4.524rem;
    background-color: #F6F6F6;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 12px;
    z-index: 1;
    @include rectangle-steps-shadow();
    /*A l'interieur de rectangle*/
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    
}


.card{
    height:100%;
    border-radius: 15px;
    width:100%;
    background-color: $white;
    border-radius: 15px;
    &__image{
        width:100%;
        height: 231px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
    &__content{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        height: calc(100% -  231px);
        &__card-txt{
            padding-left: 13px;
            padding-top:16px;
            padding-bottom: 12px;
        }

    }
    &__image-container{
        position: relative;
        display: inline-block;
        width:100%;
        &__rectangle{
            position: absolute;
            top: 13px; /* Position du rectangle par rapport au conteneur de l'image */
            right: 12px; /* Position du rectangle par rapport au conteneur de l'image */
            width: 80px; /* Largeur du rectangle */
            height: 29px; /* Hauteur du rectangle */
            background-color: $tertiary-color; /* Couleur du rectangle avec transparenc */
            color:$fourth-color;
            border-radius: 5px;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    }
    .card-city{
        font-size: 17px;
        font-family: var(--font-roboto);
        font-weight: 300;
    }
  

//animation like:
    /* Masquer la case à cocher */
    .heart-checkbox {
        display: none;
    }
    
    /* Styles pour le conteneur */
    .heart-container {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    .heart-container img{
        padding-right: 33px;
    }
    
    /* Masquer l'image pleine par défaut */
    .filled-heart {
        display: none;   
    }
    
    /* Afficher l'image pleine lorsque la case est cochée */
    .heart-checkbox:checked + .heart-container .filled-heart {
        display: inline;
        animation: gradually 5s ease forwards; /* Utilisation de l'animation gradually*/
    }
    
    /* Masquer l'image vide lorsque la case est cochée */
    .heart-checkbox:checked + .heart-container .empty-heart {
        display: none;
    }


    .image-restaurant{
        object-fit: cover;
        width:100%;
        height: 275px;
    }
    
    /*L'entete sous l'image dans les pages restaurants*/
    .title-icon{
        display:flex;
        justify-content: space-between;
        padding-top:32px;
        padding-left:17px;
        padding-right: 17px;
    }
    /*Pour ajuster l'icone coeur */
    .title-icon .heart-container{
        display: flex;
        align-items: center;
    }
    /*Fricassé d'escargot*/
    .flat-title{
        font-size: 18px;
        font-family: 500;
        font-family: var(--font-roboto);
    }
    /*Au piment d'espelette*/
    .flat-description{
        font-size: 15.04px;
        font-family: var(--font-roboto);
        font-weight: 300;
    }
    /*bouton commander*/
    .order{
        padding-top:40px ;
        padding-bottom: 40px;
    }
    //l'animation : le rectangle vert qui s'affiche
  
    .menu-link {
        cursor: pointer;
        flex:1;
        display:flex;
        border-radius: 15px;
        background-color: $white;
        padding: 15px;
        margin-top: 17px;/*12px + 5px(le padding-bottom)*/
        height: 42px;
    }
    
    .flat{
        //width: 500px;
        border-radius: 15px;
        background-color: $white;
        padding: 15px;
        margin-top: 17px; /* 12px + 5px (le padding-bottom) */
        height: 39px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        
    }
    .flat-check{
        margin:-15px;
        position: absolute;
        right: -45px; //14px margin right+29px la largeur de l'image
        transition: right 0.5s;
    }
    .flat-price{
        display:flex;
        align-items: end;
    }
    
    .toggle-element {
        display: none;
    }
    .flat-detail{
        overflow: hidden ;
        text-overflow: ellipsis ; /* Les points de suspension (...) */
       white-space: nowrap ; /* Empêche le texte de passer à la ligne */
    }
   
    /* Lorsque la case est cochée */
    .toggle-element:checked + .flat .flat-check {
        right: 14px;//14px c'est la margin-right
        transition: right 0.5s;
    }
    .toggle-element:checked + .flat .flat-price {
        transform: translateX(-200%);
        transition: transform 0.5s;
    }
    .toggle-element:checked + .flat .flat-detail{
        width: calc(100% - 90px);//pour faire apparaitre les (...)
    }

    /* Lorsque la case est décochée */
    .toggle-element:not(checked) + .flat .flat-check {       
        transition: right 0.5s;     
    }
    .toggle-element:not(checked) + .flat .flat-price {
        transform: translateX(0);
        transition: transform 0.5s;
    }
    
    
     /*****************version Desktop*****************/
     @media(min-width: 1140.02px){
        .image-restaurant{
            height: 383px;
            //width:100%;
        }

        .conteneur{
            display: flex;
            flex-direction: column;
            align-items: center;//pour centrer la section main-restaurant
        }
        .title-icon{
            display: flex;
            justify-content: center;
            gap:24px;
        }
     }
      /****************version tablette*****************/
    @media (min-width: 767.98px) and (max-width: 1140px) { 
        .image-restaurant{
            height: 383px;
            //width:100%;
        }
        .conteneur{
            display: flex;
            flex-direction: column;
            align-items: center;//pour centrer la section main-restaurant
        }
        .title-icon{
            display: flex;
            justify-content: center;
            gap:24px;
        }
    }
    


