@import '../abstracts/mixins';
//le petit cercle de composant steps
.circle{
    position: absolute;
    width:24px;
    height: 24px;
    border-radius: 12px;
    background-color: $primary-color;
    /*margin-left:20px;*/
    color:$white;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 1.5rem;
}
//le rectangle de steps
.rectangle{
    position: absolute;
    width: 20rem;
    height: 4.524rem;
    background-color: #F6F6F6;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 12px;
    z-index: 1;
    @include rectangle-steps-shadow();
    /*A l'interieur de rectangle*/
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    
}


.card{
    height:100%;
    border-radius: 15px;
    width:100%;
    background-color: $white;
    border-radius: 15px;
    &__image{
        width:100%;
        height: 231px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
    &__content{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        height: calc(100% -  231px);
        &__card-txt{
            padding-left: 13px;
            padding-top:16px;
            padding-bottom: 12px;
        }

    }
    &__image-container{
        position: relative;
        display: inline-block;
        width:100%;
        &__rectangle{
            position: absolute;
            top: 13px; /* Position du rectangle par rapport au conteneur de l'image */
            right: 12px; /* Position du rectangle par rapport au conteneur de l'image */
            width: 80px; /* Largeur du rectangle */
            height: 29px; /* Hauteur du rectangle */
            background-color: $tertiary-color; /* Couleur du rectangle avec transparenc */
            color:$fourth-color;
            border-radius: 5px;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    }
    .card-city{
        font-size: 17px;
        font-family: var(--font-roboto);
        font-weight: 300;
    }
  

//animation like:
    /* Masquer la case à cocher */
    .heart-checkbox {
        display: none;
    }
    
    /* Styles pour le conteneur */
    .heart-container {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    .heart-container img{
        padding-right: 33px;
    }
    
    /* Masquer l'image pleine par défaut */
    .filled-heart {
        display: none;
    }
    
    /* Afficher l'image pleine lorsque la case est cochée */
    .heart-checkbox:checked + .heart-container .filled-heart {
        display: inline;
    }
    
    /* Masquer l'image vide lorsque la case est cochée */
    .heart-checkbox:checked + .heart-container .empty-heart {
        display: none;
    }
  
      
    
    


