@import '../abstracts/mixins';
@import '../animations';
/* Styles pour le loader */

.loader-content{
    position:fixed;// l'élément reste toujours à la même position même si l'utilisateur fait défiler la page.
    z-index: 9999; /* Valeur élevée pour placer l'élément au premier plan */
    top: 0px;
    right:0;
    width:100%; /* Prend la largeur totale du body */
    height: 100%;/* Prend la hauteur totale du body */
    @include color-gradient ();
}
.cup{
    height:80px;
    width:100px;
    border:9px solid $greyfooter;
    position: fixed;
    top:35%;
    left:calc(50% - 60px);//pour centrer le cup
    border-radius:0px 0px 70px 70px;
    background:url(../assets/images/coffee.png);
    //box-shadow: 0px 0px 0px 6px white;
    background-repeat: repeat-x;// l'image de fond se répète uniquement horizontalement
    background-position: 0px 100px;
    animation:fill 2.5s infinite;//fill est le nom de l'animation je la définit dans keyframes
}
.handle{
    height: 30px;
    width:20px;
    background-color: transparent;
    border:9px solid $greyfooter;;
    position: fixed;
    left: calc((50% - 60px) + 110px);//pour le responsive de handle par rapport à cup
    top:36%;
    border-radius:0px 25px 80px 0px;

}
.loading{
    position: fixed;
    top:55%;
    color:$greyfooter;
    left:calc(50% - 50px);//pour centrer le texte
}
.loader {
   animation: hideLoader 3s forwards; /* Animation pour cacher la page chargement après 3 secondes,forwards pour conserver  la dernière image clé de l'animation (dans cet exemple, un affichage en "none"). */
}
  

  
  