@import '../abstracts/mixins';
// Styles spécifiques pour la première section
.section-location {
    background-color: $darkgrey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    @include header-shadow();
    &__textinput{
        border:none;
        background-color: $darkgrey;
        font-size: 16px;
        font-family: var(--font-roboto);
    }
  }
  .section-presentation {
    background-color: $grey;
    //j'ai définit la hauteur c'est seulement pour la version mobile
    height: 287px;
    &__title{
        padding-top: 39px;
        margin-left: 42px;
        margin-right: 58px;
        padding-bottom: 10px;
        text-align: center;}
    &__paragraph{
        margin-left: 34px ;
        margin-right: 26px ;
        margin-bottom: 27px;
        text-align: center;
        font-size: 18px;
        font-family: var(--font-roboto);
        font-weight: 300;
    }
    }
    .section-functioning{
        background-color: $white;
        padding-left:20px;
        padding-right: 32.5px;/*(20px+12.5)*/
        display: flex;
        flex-direction: column;
        height: 25rem;
        &__title{
            margin-top: 48px;
            margin-right: 80px;
            margin-bottom: 26px;
            font-size: 24px;
        }
        &__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem; 
        }
        &__steps{
            position: relative;
            width: 100%;
            height: 4.524rem;
        }
       
    }
    .section-restaurants{
        background-color: $grey;
        padding-bottom: 66px;
        &__title{
            padding-top:3.375rem;
            padding-left: 1.25rem;
            padding-bottom: 1.625rem;
        }
        &__cards{
            margin-right: 18px;
            margin-left:17px;
            display: flex;
            flex-direction: column;
            row-gap: 18px;
            &__link{
                text-decoration: none;/*enlever le soulignement*/
                color: inherit; /* Récupère la couleur du texte originale */
            }
        }
    }
    /*pour les pages de restaurant*/
    .main-restaurant{
        background-color: $grey;
        border-top-left-radius: 50px;
        border-top-right-radius:50px ;
        position: relative;/*pour positionner le main-restaurant sur son contenu parent qui est l'image*/
        margin-top:-55px;
        width:100%;
        &__title{
            font-family: var(--font-shrikhand);
            font-size:30px;
        }

    }
    .menu{
        padding-top:40px;
        padding-left:13px ;
        padding-right: 13px;
        &__title{
            text-transform: uppercase;/*Text en Majuscule*/
            font-size: 16px;
            font-family:var(--font-roboto) ;
            font-weight: 300;
            position: relative; /* Pour positionner la bordure */
            padding-bottom:5px;
        }
        &__title::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40px; /* Largeur de la bordure inférieure */
            height: 3px; /* Hauteur de la bordure */
            background-color:$tertiary-color;
            }
        
       /* &__flats-container{
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            text-decoration: none;/*enlever le soulignement*/
            /*color: inherit; /* Récupère la couleur du texte originale */
            /*cursor: pointer;
            flex:1; /* Prend le reste de l'espace disponible */
            /*transition: flex 0.5s ease-in-out; /* Transition sur la propriété flex */

           /* &__flat-price{
                display: flex;
                align-items: end;
                margin-right: 30px;
            }
        }*/
    }
  /*****************version Desktop*****************/
    @media(min-width: 1140.02px){
        .section-presentation {
            height: 239px;
            &__title{
                padding-top: 30px;
                padding-bottom: 13px;
                font-size: 40px;
                &__paragraph{
                    margin-bottom: 18px;
                }
            }
        }
        .section-functioning{
            height: 100%;
            padding-bottom: 50px;
            padding-left: 180px;
            padding-right: 180px;
            &__container{
            flex-direction: row;
            }
            &__title{
                margin-top:50px;
                margin-bottom: 25px;
            }
        }
        .section-restaurants{
            padding-bottom: 30px;
            padding-top:30px ;
            padding-left: 180px;
            padding-right: 180px;
            display: flex;
            flex-direction: column;
            &__title{
                padding-top:0;
                padding-bottom: 28px;
                padding-left:0;
            }
            &__cards{
                margin:0;
            display: flex;
            flex-flow:row wrap;
            row-gap: 50px;
            column-gap: 100px;
            &__link{
                width:calc((100% - 100px)/2);
            }
            }
        }
}
  /****************version tablette*****************/
    @media (min-width: 767.98px) and (max-width: 1140px) {
    .section-presentation {
        height: 239px;
        &__title{
            padding-top: 30px;
            padding-bottom: 13px;
            font-size: 40px;
            &__paragraph{
                margin-bottom: 18px;
            }
        }
    }
    .section-functioning{
        height: 100%;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 30px;
        &__container{
        flex-direction: row;
        }
        &__title{
            margin-top:50px;
            margin-bottom: 25px;
        }
    }
   
    .section-restaurants{
        padding-bottom: 30px;
        padding-top:30px ;
        
        display: flex;
        flex-direction: column;
        &__title{
            padding-top:0;
            padding-bottom: 28px;
        }
        &__cards{
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-flow:row wrap;
        row-gap: 50px;
        column-gap: 100px;
        &__link{
            width:calc((100% - 100px)/2);
        }
        }
    }
    .main-restaurant{
        width:60%;
    }
    
}
    
 /*****************version Desktop*****************/
 @media(min-width: 1140.02px){
    .main-restaurant{
       width:70%; 
    }
    .menu{
        padding-left: 20%;
        padding-right: 20%;
    }
}
