@import '../abstracts/mixins';
// Styles spécifiques pour la première section
.section-location {
    background-color: $darkgrey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    @include header-shadow();
    &__textinput{
        border:none;
        background-color: $darkgrey;
        font-size: 16px;
        font-family: var(--font-roboto);
    }
  }
  .section-presentation {
    background-color: $grey;
    //j'ai définit la hauteur c'est seulement pour la version mobile
    height: 287px;
    &__title{
        padding-top: 39px;
        margin-left: 42px;
        margin-right: 58px;
        padding-bottom: 10px;
        text-align: center;}
    &__paragraph{
        margin-left: 34px ;
        margin-right: 26px ;
        margin-bottom: 27px;
        text-align: center;
        font-size: 18px;
        font-family: var(--font-roboto);
        font-weight: 300;
    }
    }
    .section-functioning{
        background-color: $white;
        display: flex;
        flex-direction: column;
        height: 25rem;
        &__title{
            margin-top: 48px;
            margin-right: 80px;
            margin-left:20px;
            margin-bottom: 26px;
        }
        &__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem; 
        }
        &__steps{
            position: relative;
            width: 20.75rem;
            height: 4.524rem;
            margin-left:20px;
            margin-right: 20px;
        }
       
    }
    .section-restaurants{
        background-color: $grey;
        padding-bottom: 66px;;
        &__title{
            padding-top:3.375rem;
            padding-left: 1.25rem;
            padding-bottom: 1.625rem;
        }
        &__cards{
            margin-right: 18px;
            margin-left:17px;
            display: flex;
            flex-direction: column;
            row-gap: 18px;
            &__link{
                text-decoration: none;/*enlever le soulignement*/
                color: inherit; /* Récupère la couleur du texte originale */
            }
        }
    }
  
   
  