body{
    font-family: var(--font-roboto);
    margin:0;
}
h1, h2, h3 {
        /* Réinitialiser les styles par défaut */
        margin: 0; /* Annuler les marges par défaut */
        padding: 0; /* Annuler les espacements internes par défaut */
        margin-block: 0;
}
h2{
    //text-align: center;
}
h3{
    text-align: center;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}